@model List<Ensayo.Carteleras>

@{
    ViewBag.Title = "Funciones";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <h1 class="page-header">Funciones</h1>
    </div>

    <div class="col-md-1">
        @Html.ActionLink("Ver carteleras", "Carteleras", "Administracion");        
    </div>

    <div class="col-md-3">
        <form action="">
            <div class="input-group " id="buscadorAdmin">
                <input type="text" class="form-control buscador" placeholder="Buscar Cartelera...">
                <span class="input-group-btn">
                    <button class="btn btn-default buscar-header " type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>

    <div class="col-md-1">

    </div>
</div>

<div class="col-md-11">
    <select name="numero_sala" id="numero_sala">
        <option selected>Seleccion una sala</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <div class="tabla">
    @{
        int i = 1;
        foreach (var item in Model)
        {
	                                       
		    int hora_real = (item.HoraInicio) / 3600;
		    int minutos_real = (item.HoraInicio % 3600) / 60;

		    string minutos_real_texto; // Para añadir un cero a la izquierda si fuera necesario.
		    string hora_formato_original;

		    if (minutos_real < 10)
		    {
			    minutos_real_texto = minutos_real.ToString();
			    minutos_real_texto = "0" + minutos_real;
			    hora_formato_original = String.Format("{0}:{1}", hora_real, minutos_real_texto);
		    }
		    else
		    {
			    hora_formato_original = String.Format("{0}:{1}", hora_real, minutos_real);
		    }

		    //Calculo el final de la funcion mediante la duracion de la pelicula.
		    int duracion_en_segundos = ((item.Peliculas.Duracion) * 60) + item.HoraInicio;
		    string fin_funcion;
		    hora_real = duracion_en_segundos / 3600;
		    minutos_real = (duracion_en_segundos % 3600) / 60;	

		    if (minutos_real < 10)
		    {
			    minutos_real_texto = minutos_real.ToString();
			    minutos_real_texto = "0" + minutos_real;
			    fin_funcion = String.Format("{0}:{1}", hora_real, minutos_real_texto);
		    }
		    else
		    {
			    fin_funcion = String.Format("{0}:{1}", hora_real, minutos_real);                                    
		    }
		    //Imprimo los resultados.
		    <div>
			    Función @i de @hora_formato_original a @fin_funcion. Sede; @item.Sedes.Nombre. Sala @item.NumeroSala
		    </div>	        
            i++;                 
        }            
     }
    </div>
    <div class="row">
        <div id="paginador">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
