#destacadas
{
	height: auto;
	width: 85%;
	margin: 0px auto;
	text-align: right;
}
#carrusel_peliculas img
{
	border: 13px solid #ffdb4d;
	height: 400px;
	margin-top: 70px;
	width: 100%;
}
#btn_reservar_entrada
{
	background: linear-gradient(#ff0000, #ff1a1a);
	border: 2px dashed #fff;
	color: #fff;
	height: 75px;
	width: 35%;	
	font-size: 18px;
	font-weight: bold;
	margin-top: 22px;
}
.nombre_seccion
{
	color: #fff;
	text-align: center;
}
.separador_decorado
{
	color: gold;
	font-size: 1vw;
	text-align: center;
	height: 120px;
	width: 100%;
	margin-top: 70px;
}
#cartelera
{
	height: auto;
	width: 80%;
	margin: 0px auto;
	text-align: center;
}
.pelicula
{	
	height: 470px;	
}
.pelicula > img
{
	border: 14px solid #111;
	box-shadow: 0px 3px 7px 0px #ccc;
}
.titulo_pelicula
{
	color: #fff;
	font-size: 17px;
	margin: 10px
}
.info_pelicula_cartelera
{
	color: #fff;
	font-size: 12px;
	height: 100px;
	width: 100%;
	margin-top: 20px;
}